/* ----- Product Section ----- */
/* .containerHome{
    background-color: #e4f5cb;
} */
.productt {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    margin: 20px 150px;
    padding: 1.5em 0;
    min-width: 600px;
    /* background: radial-gradient(#a8da5e, #66FF00); */
    border-radius: 5px;
    margin-bottom: 100px;
  }
  
  /* ----- Photo Section ----- */
  .product__photo {
    position: relative;
    /* background-color: #97d383; */
  }
  
  .photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
      
  }
  
  .photo-main {
    position: relative;
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#f2f4ef, #66FF00);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
  
  }
  
  /* .photo-main .photo-over {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .photo-main img {  
    height: 400px;
    width: 400px;
    transition: transform 0.3s ease-in-out;
    border-radius: 6px;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    z-index: 2;
  }
  
  .photo-main:active img {
    z-index: 2;
    transform: scale(1.4);
  
  }
  
  .photo-album {
    padding: 0.7em 1em;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
  }
  
  .photo-album ul {
    display: flex;
    justify-content: space-around;
  }
  
  .photo-album ul li {
  
    width: 60px;
    height: 60px;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-album li:hover{
    border: 2px solid #5ae040;
  }
  
  
  
  
  
  /* ----- Informations Section ----- */
  .product__info {
    padding: 0.8em 0;
  }
  
  .title h1 {
    margin-bottom: 0.1em;
    color: #4c4c4c;
    font-size: 1.5em;
    font-weight: 900;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .title span {
    font-size: 0.7em;
    color: #a6a6a6;
  }
  
  
  .price {
    margin: 1.5em 0;
    color: #4c4c4c;
    font-size: 1.2em;
  }
  
  .price span {
    padding-left: 0.15em;
    font-size: 2.9em;
    color: #4c4c4c;
  }
  
  
  .variant {
    overflow: auto;
  }
  
  .variant ul {
    font-size: 30px;
    color: #4c4c4c;
  }
  
  .variant h3 {
    margin-bottom: 1.1em;
  }
  
  .variant h3 li {
    float: left;
    width: 35px;
    height: 35px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
  
    /* &:first-child,
          &:hover {
              border: 1px solid #a6a6a6;
          } */
  }
  
  .variant h3 li :first-child {
    border: 1px solid #a6a6a6;
  }
  
  .variant h3 li :hover {
    border: 1px solid #a6a6a6;
  }
  
  .variant h3 li:not(:first-child) {
    margin-left: 0.1em;
  }
  
  
  .description {
    clear: left;
    margin: 2em 0;
  }
  
  .description h3 {
    margin-bottom: 1em;
  }
  
  .description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
    padding-bottom: 2em;
  }
  
  .description ul li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
  }

  .buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #4bd036;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    /* &:active {
          transform: scale(0.97);
      } */
  }
  .buy--btn:hover {
    transform: scale(1.1);
  }
  .buy--btn:active {
    transform: scale(0.97);
  }
  .contact {
    display: flex;
    align-items: center;
  }
  
  /* .contact--btn {
    margin-left: 10px;
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #e49e11;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
  }
  .contact--btn:hover {
    transform: scale(1.2);
  }
  .contact--btn:active {
    transform: scale(0.97);
  } */
  
  
  
  .zalo-button {
    margin-left: 20px;
    background-color: #448aff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    transition: transform 0.2s ease-in-out;
  
  }
  .zalo-button:hover {
    transform: scale(1.1);
  }
  
  .zalo-button:active {
    transform: scale(0.97);
  }
  
  .zalo-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/2048px-Icon_of_Zalo.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.9;}

/* The Modal (background) */
.modall {
  
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modall-content {
  margin: auto;
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

/* The Close Button */
.closee {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closee:hover,
.closee:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
  .modall-content {
    width: 100%;
  }
}